<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @copyright (c) 2013, Pawel Kazakow <support@xonu.de>
* @license http://xonu.de/license/ xonu.de EULA
*/
-->
<config>
    <modules>
        <Xonu_FGP>
            <version>2.1.0</version>
        </Xonu_FGP>
    </modules>
    <global>
        <models>
            <tax>
                <rewrite>
                    <calculation>Xonu_FGP_Model_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
    </global>
    <default>
        <tax>
            <calculation>
                <xonu_fpg_cross_border_trade_enabled>0</xonu_fpg_cross_border_trade_enabled>
                <xonu_fpg_cross_border_trade_vatfree_enabled>0</xonu_fpg_cross_border_trade_vatfree_enabled>
            </calculation>
        </tax>
    </default>
</config>
