<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @copyright (c) 2013, Pawel Kazakow <support@xonu.de>
* @license http://xonu.de/license/ xonu.de EULA
*/
-->
<config>
	<modules>
		<Xonu_FGP>
			<version>2.0.1</version>
		</Xonu_FGP>
	</modules>
	<global>
        <models>
            <tax>
                <rewrite>
                    <calculation>Xonu_FGP_Model_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
    </global>
</config>
